.wrapper_header {
    margin: auto;
    max-width: 1200px;

    display: flex;
    align-items: center;

    // Logo
    &__logo {
        height: auto;
        width: 25%;
        padding: 0 15px;
    }

    // Search
    &__search {
        width: 50%;
        height: 42px;
        background-color: #fff;
        border-radius: 7px;
        cursor: pointer;
        padding-right: 4px;

        display: flex;
        align-items: center;

        &__options {
            display: flex;
            align-items: center;
            justify-content: center;

            width: 15%;
            cursor: pointer;
            border-right: 1px solid #ebebeb;
            padding: 12px 10px;

            &>span {
                font-size: 13px;
                color: #898989;
                margin-right: 17px;
            }

            &>i {
                font-size: 12px;
            }
        }

        &__search_input {
            height: 100%;
            width: 70%;
            position: relative;
            padding: 0 10px;

            &>input {
                padding: 0;
                height: 100%;
                width: 100%;
                font-size: 13px;
                max-width: 100%;
                outline: none;
                border: none;
            }
        }

        &__btn {
            width: 12%;
            padding: 10px 0;
            border-radius: 5px;
            background: #f5c53a;
            color: #fff;
            font-size: 14px;

            display: flex;
            align-items: center;
            justify-content: center;

            &>i {
                color: #fff;
            }
        }
    }

    // Actions
    &__actions {
        flex: 25%;
        display: flex;
        align-items: center;
        margin-left: 20px;

        &__phone {
            flex: 1;
            display: flex;
            align-items: center;

            &>i {
                color: #fff;
                font-size: 20px;
            }

            &__info {
                margin-left: 10px;

                &>span {
                    color: #fff;
                    font-size: 13px;
                    font-weight: 600;
                    white-space: pre-line;
                }
            }
        }

        &__bag {
            flex: 1;
            display: flex;
            align-items: center;
            padding-left: 20px;
            cursor: pointer;
            position: relative;

            &::after {
                content: "";
                position: absolute;
                bottom: -21px;
                width: 100%;
                height: 20px;
            }

            &:hover {
                .wrapper_header__actions__bag__products {
                    display: block;
                }
            }

            &>i {
                color: #fff;
                font-size: 24px;
                position: relative;

                .badge {
                    position: absolute;
                    top: 14px;
                    right: -7px;
                    border-radius: 100px;
                    background: red;
                    font-size: 8px;
                    padding: 4px 6px;
                }
            }

            &__info {
                margin-left: 10px;

                &>p {
                    color: #fff;
                    font-size: 13px;
                    font-weight: 600;
                }
            }

            &__products {
                display: none;
                position: absolute;
                right: 0;
                top: 49px;
                z-index: 1000;

                padding: 20px;
                background-color: #fff;
                min-width: 300px;
                max-height: 625px;
                border-radius: 6px;
            }
        }
    }
}